<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../css/login.css" rel="stylesheet">
</head>
<body>
<div id="loginDiv" style="height: 350px">
    <div id="MgLogin">
        <!--角色切换-->
        <el-link href="MgLogin.html" type="primary" style="position: absolute;top: 20px;right: 110px">管理员登录 |</el-link>
        <el-link href="YgLogin.html" type="info" style="position: absolute;top: 20px;right: 20px">员工账户登录</el-link>
        <!--登录信息表单-->
        <el-form ref="form" :model="manager" label-width="80px">
            <h1 id="loginMsg">管理员登录</h1><br>
            <el-form-item label="账号:">
                <el-input v-model="manager.account" placeholder="请输入账号"></el-input>
            </el-form-item>
            <el-form-item label="密码:">
                <el-input v-model="manager.password" show-password placeholder="请输入密码"></el-input>
            </el-form-item>
            <el-form-item label="记住账号:">
                <el-checkbox v-model="manager.checked"></el-checkbox>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="MgLogin">登录</el-button>
                <el-button plain native-type="reset">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<!--导包-->
<script src="../js/vue.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el: "#MgLogin",
        data() {
            return {
                //管理员
                manager: {
                    account: '',
                    password: '',
                    checked: '',
                },
            }
        },
        //方法:
        methods: {
            //登录
            MgLogin() {
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/employee/login",
                    data:_this.manager
                }).then(function (resp) {
                    if (resp.data === "success") {
                        //主界面
                    }
                })
            }
        }
    })
</script>

</html>