<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人力资源管理系统</title>
</head>
<style>
    .el-header {
        background-color: rgba(58, 227, 224, 0.76);
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
    }

    .el-main {
        background-color: #eee;
        text-align: left;
        line-height: 50px;
    }

    .el-carousel__item h3 {
        color: #475669;
        font-size: 18px;
        opacity: 0.75;
        line-height: 300px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: rgb(204, 230, 200);
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
</style>

<body>
<div id="adminHome">
    <!--header-->
    <el-container style="height: 1000px; border: 15px solid rgb(255,255,255)">
        <!--顶栏-->
        <el-header>
            <el-row>
                <el-col :span="12">
                    <i class="el-icon-s-promotion">人力资源管理系统</i>
                </el-col>
                <el-col :span="12" style="text-align: right">
                    <el-dropdown @command="handleCommand">
                        <span class="el-dropdown-link">
                             <el-avatar v-model="admin" :src="admin.avatar" :size="50"></el-avatar>
                        </span>
                        <span style="font-size: 20px;">
                            {{admin.name}}
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="a">个人信息</el-dropdown-item>
                            <el-dropdown-item command="b">修改密码</el-dropdown-item>
                            <el-dropdown-item command="c">退出登录</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </el-col>
            </el-row>
        </el-header>
        <el-container style="height: 500px; border: 1px solid rgb(235,248,249)">
            <!--侧边栏-->
            <el-aside width="200px" style="background-color: rgb(255,255,255)">
                <el-menu :default-openeds="['0','1','2','3']" :default-active="activeIndex" @select="menuSelect">
                    <el-menu-item index="0">
                        <template slot="title">
                            <i class="el-icon-s-home">系统首页</i>
                        </template>
                    </el-menu-item>
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-s-custom">用户管理</i></template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">员工信息</el-menu-item>
                            <el-menu-item index="1-2">管理员信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title"><i class="el-icon-menu">人事管理</i></template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">请假审批</el-menu-item>
                            <el-menu-item index="2-2">离职审批</el-menu-item>
                            <el-menu-item index="2-3">考勤处理</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title"><i class="el-icon-menu">信息管理</i></template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">公告信息</el-menu-item>
                            <el-menu-item index="3-2">培训信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <!--首页-->
            <el-main v-if="adminPages[0] === true">
                <el-row>
                    <el-col :span="24" v-model="admin" style="background: white ;height: 50px;">
                        您好，{{admin.name}}！欢迎使用本系统
                    </el-col>
                </el-row>
                <hr>
                <!--公告信息-->
                <el-row>
                    <el-col :span="24" v-model="admin" style="background: white ;height: 50px;">
                        <el-calendar v-model="dateValue">
                        </el-calendar>
                    </el-col>
                </el-row>
            </el-main>
            <!--公告信息-->
            <el-main v-if="adminPages[1] === true">
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <el-input v-model="announcePage.announceTitle" clearable placeholder="请输入标题查询" style="width: 250px"></el-input>
                        <el-button type="primary" plain @click="showAnnounce">查找</el-button>
                    </el-col>
                </el-row>
                <hr>
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <el-button type="success" plain @click="announceVisible = true"> 新 增</el-button>
                        <el-button type="danger" plain @click="deleteAnnounces">批量删除</el-button>
                    </el-col>
                    <!--添加数据-->
                    <el-dialog title="公告信息" :visible.sync="announceVisible">
                        <el-form :model="announceTable">
                            <el-form-item label="标题:" :label-width="formLabelWidth">
                                <el-input v-model="announceTable.title" clearable placeholder="请输入标题"></el-input>
                            </el-form-item>
                            <el-form-item label="内容:" :label-width="formLabelWidth">
                                <el-input type="textarea" v-model="announceTable.content" clearable
                                          autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="来源:" :label-width="formLabelWidth">
                                <el-select v-model="announceTable.writer" placeholder="请选择部门">
                                    <el-option label="人力资源部" value="人力资源部"></el-option>
                                    <el-option label="财务部" value="财务部"></el-option>
                                    <el-option label="科技部" value="科技部"></el-option>
                                    <el-option label="人事部" value="人事部"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="announceVisible = false">取 消</el-button>
                            <el-button type="primary" @click="addAnnounce">确 定</el-button>
                        </div>
                    </el-dialog>
                    <!--更新数据-->
                    <el-dialog title="公告信息" :visible.sync="announceVisible2">
                        <el-form :model="announceTable">
                            <el-form-item label="标题:" :label-width="formLabelWidth">
                                <el-input v-model="announceTable.title" clearable placeholder="请输入标题"></el-input>
                            </el-form-item>
                            <el-form-item label="内容:" :label-width="formLabelWidth">
                                <el-input type="textarea" v-model="announceTable.content" clearable
                                          autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="来源:" :label-width="formLabelWidth">
                                <el-select v-model="announceTable.writer" placeholder="请选择部门">
                                    <el-option label="人力资源部" value="人力资源部"></el-option>
                                    <el-option label="财务部" value="财务部"></el-option>
                                    <el-option label="科技部" value="科技部"></el-option>
                                    <el-option label="人事部" value="人事部"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="announceVisible2 = false">取 消</el-button>
                            <el-button type="primary" @click="updateAnnounce">确 定</el-button>
                        </div>
                    </el-dialog>
                </el-row>
                <hr>
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <template>
                            <el-table
                                    :data="announceValue"
                                    style="width: 100%"
                                    @selection-change="announceSelectionChange">
                                <el-table-column
                                        prop="id"
                                        v-if="false">
                                </el-table-column>
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        label="序号"
                                        type="index"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="标题"
                                        prop="title"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="内容"
                                        prop="content"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="创建时间"
                                        prop="createTime"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="来源"
                                        prop="writer"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="操作"
                                        align="center">
                                    <!--修改(当前数据id)、单个删除-->
                                    <el-row slot-scope="scope">
                                        <el-button type="primary" plain @click="selectAnnounce(scope.row)">编辑</el-button>
                                        <el-button type="danger" plain @click="deleteAnnounce(scope.row)">删除</el-button>
                                    </el-row>
                                </el-table-column>
                            </el-table>
                        </template>
                        <!--分页条-->
                        <el-pagination
                                background
                                layout="total,prev, pager, next"
                                :page-size="10"
                                :current-page="announcePage.currentPage"
                                @current-change="announceCurrentChange"
                                :total="announcePage.tollCount">
                        </el-pagination>
                    </el-col>
                </el-row>
            </el-main>
            <!--培训信息-->
            <el-main v-if="adminPages[2] === true">
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <el-input v-model="trainPage.trainName" clearable placeholder="请输入培训名称" style="width: 250px"></el-input>
                        <el-button type="primary" plain @click="showTrain">查找</el-button>
                    </el-col>
                </el-row>
                <hr>
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <el-button type="success" plain @click="trainVisible = true"> 新 增</el-button>
                        <el-button type="danger" plain @click="deleteTrains">批量删除</el-button>
                    </el-col>
                    <!--添加数据-->
                    <el-dialog title="培训信息" :visible.sync="trainVisible">
                        <el-form :model="trainTable">
                            <el-form-item label="培训名称" :label-width="formLabelWidth">
                                <el-input v-model="trainTable.trainName" clearable placeholder="请输入培训名称"></el-input>
                            </el-form-item>
                            <el-form-item label="培训地点" :label-width="formLabelWidth">
                                <el-input v-model="trainTable.trainLocation" clearable placeholder="请输入培训地点"></el-input>
                            </el-form-item>
                            <el-form-item label="培训日期" :label-width="formLabelWidth">
                                <el-date-picker type="date" placeholder="开始日期" v-model="trainTable.startDate"
                                                style="width: 215px"></el-date-picker>
                                <span>--</span>
                                <el-date-picker type="date" placeholder="结束日期" v-model="trainTable.endDate"
                                                style="width: 215px"></el-date-picker>
                            </el-form-item>
                            <el-form-item label="培训描述" :label-width="formLabelWidth">
                                <el-input type="textarea" v-model="trainTable.description"
                                          autocomplete="off"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="trainVisible = false">取 消</el-button>
                            <el-button type="primary" @click="addTrain">确 定</el-button>
                        </div>
                    </el-dialog>
                    <!--修改数据-->
                    <el-dialog title="培训信息" :visible.sync="trainVisible2">
                        <el-form :model="trainTable">
                            <el-form-item label="培训名称" :label-width="formLabelWidth">
                                <el-input v-model="trainTable.trainName" clearable placeholder="请输入培训名称"></el-input>
                            </el-form-item>
                            <el-form-item label="培训地点" :label-width="formLabelWidth">
                                <el-input v-model="trainTable.trainLocation" clearable placeholder="请输入培训地点"></el-input>
                            </el-form-item>
                            <el-form-item label="培训日期" :label-width="formLabelWidth">
                                <el-date-picker type="date" placeholder="开始日期" v-model="trainTable.startDate"
                                                style="width: 215px"></el-date-picker>
                                <span>--</span>
                                <el-date-picker type="date" placeholder="结束日期" v-model="trainTable.endDate"
                                                style="width: 215px"></el-date-picker>
                            </el-form-item>
                            <el-form-item label="培训描述" :label-width="formLabelWidth">
                                <el-input type="textarea" v-model="trainTable.description"
                                          autocomplete="off"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="trainVisible2 = false">取 消</el-button>
                            <el-button type="primary" @click="updateTrain">确 定</el-button>
                        </div>
                    </el-dialog>
                </el-row>
                <hr>
                <el-row>
                    <el-col :span="24" style="background: white ;height: 50px;">
                        <template>
                            <el-table
                                    :data="trainValue"
                                    style="width: 100%"
                                    @selection-change="trainSelectionChange">
                                <el-table-column
                                        prop="id"
                                        v-if="false">
                                </el-table-column>
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column
                                        label="序号"
                                        type="index"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="培训名称"
                                        prop="trainName"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="培训地点"
                                        prop="trainLocation"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="培训开始日期"
                                        prop="startDate"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="培训结束日期"
                                        prop="endDate"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        label="描述"
                                        prop="description"
                                        align="center">
                                </el-table-column>

                                <el-table-column
                                        label="操作"
                                        align="center">
                                    <!--修改(当前数据id)、单个删除-->
                                    <el-row slot-scope="scope">
                                        <el-button type="primary" plain @click="selectTrain(scope.row)">编辑</el-button>
                                        <el-button type="danger" plain @click="deleteTrain(scope.row)">删除</el-button>
                                    </el-row>
                                </el-table-column>
                            </el-table>
                        </template>
                        <!--分页条-->
                        <el-pagination
                                background
                                layout="total,prev, pager, next"
                                :page-size="10"
                                :current-page="trainPage.currentPage"
                                @current-change="trainCurrentChange"
                                :total="trainPage.tollCount">
                        </el-pagination>
                    </el-col>
                </el-row>
            </el-main>

        </el-container>
    </el-container>


</div>

</body>
<!--导包-->
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#adminHome",
        //生命周期
        mounted() {
            //系统首页
            this.selectAdminHome();
        },
        //数据
        data() {
            return {
                //管理员信息
                admin: {
                    id: '',
                    username: '',
                    password: '',
                    name: '',
                    avatar: '',
                    role: '',
                    phone: '',
                    email: '',
                },
                //公告信息
                announceValue:[], //公告表格
                announceSelection:[],//公告复选框数据
                announcePage:{
                    currentPage:'1', //当前页
                    tollCount:'', //总数
                    announceTitle:'',//公告标题
                }, //分页条数据
                announceTable:{
                    id:'',
                    title:'',
                    content:'',
                    writer:'',
                    createTime:new Date(),
                },//公告表单
                announceBox:[], //主键Id数组d
                announceVisible:false,
                announceVisible2:false,
                //培训信息
                trainValue:[], //培训表格
                trainSelection:[],//培训复选框数据
                trainPage:{
                    currentPage:'1', //当前页
                    tollCount:'', //总数
                    trainName:'',//培训名称
                }, //分页条数据
                trainTable:{
                    id:'',
                    trainName: '',
                    trainLocation:'',
                    description:'',
                    startDate:'',
                    endDate:'',
                },//培训表单
                trainBox:[], //主键Id数组d
                trainVisible:false,
                trainVisible2:false,

                //对话框width
                formLabelWidth: '120px',
                //页面渲染
                adminPages:[false,false,false,false,false],
                //系统首页选项
                activeIndex: '0',
                //系统首页日期
                dateValue: new Date(),

            }
        },
        //方法
        methods: {
            //根据Id查找数据
            adminSelect() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/resource_app/admin/adminSelect?adminId=" + this.admin.id,
                }).then((resp) => {
                    this.admin = resp.data;
                })
            },
            //导航菜单
            menuSelect(key, keyPath) {
                //key:选项索引，keyPath:索引路径数组
                switch (key) {
                    case '0':
                        this.selectAdminHome(); //系统首页数据获取
                        break;
                    case '3-1':
                        this.showAnnounce(); //系统首页数据获取
                        break;
                    case '3-2':
                        this.showTrain(); //系统首页数据获取
                        break;
                    default:
                        window.alert("keyPath:" + keyPath);
                }
            },
            //头像菜单
            handleCommand(command) {
                switch (command) {
                    case 'a':
                        break;
                    case 'b':
                        break;
                    case 'c':
                        //退出登录
                        break;
                    default:
                        alert("错误!");
                }
            },
            //控制页面渲染
            showPages(index) {
                for (let i = 0; i < this.adminPages.length; i++) {
                    this.adminPages[i] = i === index;
                }
            },
            //系统首页信息
            selectAdminHome() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/resource_app/admin/adminHome",
                }).then((resp) => {
                    //首页展示
                    this.showPages(0);
                    //响应数据
                    this.admin = resp.data;
                })
            },
            //公告
            showAnnounce(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/showAnnounce",
                    data: this.announcePage,
                }).then((resp) => {
                    //获取、刷新数据
                    this.announceValue= resp.data.rows;
                    this.announcePage.tollCount = resp.data.tollCount;
                    this.adminSelect();
                    this.showPages(1);
                })
            },
            addAnnounce(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/addAnnounce",
                    data: this.announceTable,
                }).then((resp) => {
                    if (resp.data === "success") {
                        //关闭对话框、刷新数据、成功提示
                        this.announceVisible = false;
                        this.message("添加成功",'success');
                        this.showAnnounce();
                    } else {
                        this.announceVisible = false;
                        this.message("添加失败",'error');
                    }
                })
            },
            deleteAnnounce(row){
                //弹框提示，是否删除
                this.$confirm('此操作将删除公告, 是否确定?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/resource_app/admin/deleteAnnounce?id=" + row.id,
                    }).then((resp) => {
                        if (resp.data === "success") {
                            //刷新数据,信息提示
                            this.showAnnounce();
                            this.message("删除成功",'success');
                        } else {
                            this.message("删除失败",'error');
                        }
                    })
                }).catch(() => {
                    this.message("处理有误",'error');
                });
            },
            selectAnnounce(row){
                axios({
                    method: "get",
                    url: "http://localhost:8080/resource_app/admin/selectAnnounce?id=" + row.id,
                }).then((resp) => {
                    this.announceTable = resp.data;//数据回显
                    this.announceVisible2 = true; //打开对话框
                })
            },
            updateAnnounce(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/updateAnnounce",
                    data:this.announceTable,
                }).then((resp) => {
                    if (resp.data === "success") {
                        this.message("修改成功",'success');
                        this.announceVisible2 = false;
                        this.showAnnounce();
                    } else {
                        this.message("修改失败",'error');
                    }
                })
            },
            deleteAnnounces(){
                this.$confirm('此操作将删除数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //获取所选框id主键
                    for (let i = 0; i < this.announceSelection.length; i++) {
                        let announceTable = this.announceSelection[i];
                        this.announceBox[i] = announceTable.id;
                    }
                    axios({
                        method: "post",
                        url: "http://localhost:8080/resource_app/admin/deleteAnnounces",
                        data: this.announceBox
                    }).then((resp) => {
                        //刷新,提示
                        if (resp.data === "success") {
                            this.showAnnounce();
                            this.message("删除成功",'success');
                        } else {
                            this.message("删除失败",'error');
                        }
                    })
                }).catch(() => {
                    this.message("操作失败",'error');
                });
            },
            announceSelectionChange(val) {
                this.announceSelection = val;
            },
            announceCurrentChange(val) {
                this.announcePage.currentPage = val;//重新设置当前页码
                this.showAnnounce();
            },
            //培训
            showTrain(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/showTrain",
                    data: this.trainPage,
                }).then((resp) => {
                    //获取、刷新数据
                    this.trainValue= resp.data.rows;
                    this.trainPage.tollCount = resp.data.tollCount;
                    this.adminSelect();
                    this.showPages(2);
                })
            },
            addTrain(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/addTrain",
                    data: this.trainTable,
                }).then((resp) => {
                    if (resp.data === "success") {
                        //关闭对话框、刷新数据、成功提示
                        this.trainVisible = false;
                        this.message("添加成功",'success');
                        this.showTrain();
                    } else {
                        this.tainVisible = false;
                        this.message("添加失败",'error');
                    }
                })
            },
            deleteTrain(row){
                //弹框提示，是否删除
                this.$confirm('此操作将删除培训, 是否确定?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/resource_app/admin/deleteTrain?id=" + row.id,
                    }).then((resp) => {
                        if (resp.data === "success") {
                            //刷新数据,信息提示
                            this.showTrain();
                            this.message("删除成功",'success');
                        } else {
                            this.message("删除失败",'error');
                        }
                    })
                }).catch(() => {
                    this.message("取消删除",'error');
                });
            },
            selectTrain(row){
                axios({
                    method: "get",
                    url: "http://localhost:8080/resource_app/admin/selectTrain?id=" + row.id,
                }).then((resp) => {
                    this.trainTable = resp.data;//数据回显
                    this.trainVisible2 = true; //打开对话框
                })
            },
            updateTrain(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/resource_app/admin/updateTrain",
                    data:this.trainTable,
                }).then((resp) => {
                    if (resp.data === "success") {
                        this.message("修改成功",'success');
                        this.trainVisible2 = false;
                        this.showTrain();
                    } else {
                        this.message("修改失败",'error');
                    }
                })
            },
            deleteTrains(){
                this.$confirm('此操作将删除数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //获取所选框id主键
                    for (let i = 0; i < this.trainSelection.length; i++) {
                        let trainTable = this.trainSelection[i];
                        this.trainBox[i] = trainTable.id;
                    }
                    axios({
                        method: "post",
                        url: "http://localhost:8080/resource_app/admin/deleteTrains",
                        data: this.trainBox
                    }).then((resp) => {
                        //刷新,提示
                        if (resp.data === "success") {
                            this.showTrain();
                            this.message("删除成功",'success');
                        } else {
                            this.message("删除失败",'error');
                        }
                    })
                }).catch(() => {
                    this.message("取消删除",'error');
                });
            },
            trainSelectionChange(val) {
                this.trainSelection = val;
            },
            trainCurrentChange(val) {
                this.trainPage.currentPage = val;//重新设置当前页码
                this.showTrain();
            },
            //信息提示
            message(message,type) {
                this.$message({
                    showClose: true,
                    message: message,
                    type: type,
                });
            },

        }

    })
</script>
</html>