<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--css外连接-->
    <link href="css/login.css" rel="stylesheet">
</head>
<h1 style="position: absolute; text-align: center;top: 10px">人力资源管理系统</h1>
<body>
<div id="loginDiv" style="height: 400px">
    <div id="Login">
        <!--登录信息表单-->
        <el-form ref="form" :model="user" label-width="80px">
            <el-form-item label="用户名:">
                <el-input v-model="user.username" clearable placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item label="密码:">
                <el-input v-model="user.password" show-password placeholder="请输入密码"></el-input>
            </el-form-item>
            <el-form-item label="记住账号:">
                <el-checkbox v-model="checked"></el-checkbox>
            </el-form-item>
            <el-form-item label="登录人员:">
                <template>
                    <el-select v-model="user.role" placeholder="请选择角色">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-form-item>
            <el-form-item>
                <el-button type="submit" @click="Login">登录</el-button>
                <el-button plain native-type="reset">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<!--导包-->
<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script>
    new Vue({
        el: "#Login",
        data() {
            return {
                //使用者
                user: {
                    username: '',
                    password: '',
                    role: true, // 默认员工
                },
                //cookie
                checked: '',
                //登录角色
                options: [{
                    value: true,
                    label: '员工'
                }, {
                    value: false,
                    label: '管理员'
                }],
            }
        },
        //方法:
        methods: {
            //登录
            Login() {
                //和员工
                if (this.user.role === true) {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/resource_app/employee/login?checked=" + this.checked,
                        data: this.user
                    }).then((resp) => {
                        if (resp.data === "error") {
                            //登录失败
                            this.showError();
                        } else {
                            // 将登录成功的信息存储到本地存储中
                            localStorage.setItem('loginSuccess', 'true');
                            //员工
                            window.location.href = "http://localhost:8080/resource_app/home.html";
                        }
                    })
                }
                else if (this.user.role === false){
                    axios({
                        method: "post",
                        url: "http://localhost:8080/resource_app/admin/login",
                        data: this.user
                    }).then((resp) => {
                        if (resp.data === "error") {
                            //登录失败
                            this.showError();
                        }else {
                            // 将登录成功的信息存储到本地存储中
                            // localStorage.setItem('loginSuccess', 'true');
                            //管理员
                            window.location.href = "http://localhost:8080/resource_app/adminHome.html";
                        }
                    })
                }
                else {
                    this.showError();
                }
            },
            //错误信息提示
            showError() {
                this.$message.error('用户不存在');
            },
        }
    })
</script>

</html>