<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.EmployeeMapper">
    <!--resultMap映射-->
    <resultMap id="employeeSalary" type="salary">
        <result column="send_date" property="sendDate"/>
        <result column="base_salary" property="baseSalary"/>
        <result column="attendance_bonus" property="attendanceBonus"/>
        <result column="performance_pay" property="performancePay"/>
    </resultMap>
    <resultMap id="employeeAttendance" type="attendance">
        <result column="absence_record" property="absenceRecord"/>
        <result column="employee_id" property="employeeId"/>
    </resultMap>
    <resultMap id="employeeLeave" type="leave">
        <result column="leave_type" property="leaveType"/>
        <result column="leave_status" property="leaveStatus"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="employee_id" property="employeeId"/>
    </resultMap>
    <resultMap id="employeeQuit" type="quit">
        <result column="employee_id" property="employeeId"/>
        <result column="quit_reason" property="quitReason"/>
        <result column="quit_status" property="quitStatus"/>
    </resultMap>
    <resultMap id="employeeScore" type="score">
        <result column="employee_id" property="employeeId"/>
        <result column="train_Name" property="trainName"/>
        <result column="train_location" property="trainLocation"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="train_Time" property="trainTime"/>
    </resultMap>
    <resultMap id="employeeTrain" type="train">
        <result column="train_Name" property="trainName"/>
        <result column="train_location" property="trainLocation"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
    </resultMap>
    <resultMap id="announcement" type="announcement">
        <result column="create_time" property="createTime"/>
    </resultMap>



    <select id="loginSelect" resultType="com.it.pojo.Employee">
        select id,
               username,
               password,
               name,
               gender,
               role,
               phone,
               avatar,
               email,
               department
        from tb_employee
        where id NOT IN (select employee_id
                         from tb_quit
                         where delete_status = '离职')
          and username = #{username}
          and password = #{password};
    </select>
    <update id="updateInfo">
        update tb_employee
        set avatar = #{avatar},
            name   = #{name},
            gender = #{gender},
            phone  = #{phone},
            email  = #{email}
        where id = #{id};
    </update>
    <update id="updatePassword">
        update tb_employee
        set password = #{newPassword}
        where id = #{employeeId};
    </update>
    <select id="showSalary" resultMap="employeeSalary">
        select name, department, send_date, money, base_salary, attendance_bonus, performance_pay
        from tb_salary
        where employee_id = #{employeeId}
          and send_date like #{page.dateValue}
        order by send_date, money desc
        limit #{begin},10;
    </select>
    <select id="idSelect" resultType="com.it.pojo.Employee">
        select id,
               username,
               password,
               name,
               gender,
               role,
               phone,
               avatar,
               email,
               department
        from tb_employee
        where id = #{employeeId};
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from tb_salary
        where employee_id = #{employeeId}
          and send_date like #{page.dateValue}
        order by send_date, money desc;
    </select>
    <select id="showAttendance" resultMap="employeeAttendance">
        select name, date, absence_record
        from tb_attendance
        where employee_id = #{employeeId} and absence_record in
        <foreach collection="attendanceValues" item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
        order by date
        limit #{begin},10;

    </select>
    <select id="attendanceCount" resultType="java.lang.Integer">
        select count(*)
        from tb_attendance
        where employee_id = #{employeeId} and absence_record in
        <foreach collection="attendanceValues" item="value" open="(" close=")" separator=",">
            #{value}
        </foreach>
        order by date;
    </select>
    <select id="showLeave" resultMap="employeeLeave">
        select name,leave_type, start_date, end_date, reason, leave_status
        from tb_leave
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and leave_status != '未处理'
            </if>
            <if test="reason != null and reason !='' ">
                and reason like #{reason}
            </if>
            <if test="page.dateValue != null ">
                and start_date like #{page.dateValue}
            </if>
        </where>
        order by start_date
        limit #{begin},10;
    </select>
    <select id="leaveCount" resultType="java.lang.Integer">
        select count(*)
        from tb_leave
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and leave_status != '未处理'
            </if>
            <if test="reason != null and reason !='' ">
                and reason like #{reason}
            </if>
            <if test="page.dateValue != null ">
                and start_date like #{page.dateValue}
            </if>
        </where>
    </select>
    <select id="showUnLeave" resultMap="employeeLeave">
        select id,name,leave_type, start_date, end_date, reason, leave_status
        from tb_leave
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and leave_status = '未处理'
            </if>
            <if test="reason != null and reason !='' ">
                and reason like #{reason}
            </if>
            <if test="page.dateValue != null ">
                and start_date like #{page.dateValue}
            </if>
        </where>
        order by start_date
        limit #{begin},10;
    </select>
    <select id="unLeaveCount" resultType="java.lang.Integer">
        select count(*)
        from tb_leave
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and leave_status = '未处理'
            </if>
            <if test="reason != null and reason !='' ">
                and reason like #{reason}
            </if>
            <if test="page.dateValue != null ">
                and start_date like #{page.dateValue}
            </if>
        </where>
    </select>
    <delete id="deleteByLeaveId">
        delete
        from tb_leave
        where id = #{id};
    </delete>
    <insert id="addLeave">
        insert into tb_leave (employee_id, name, leave_type, start_date, end_date, reason, leave_status)
        values (#{employeeId},#{name},#{leaveType},#{startDate},#{endDate},#{reason},#{leaveStatus});
    </insert>
    <select id="showQuit" resultMap="employeeQuit">
        select t1.id, employee_id,t2.name,t2.department,t2.role,quit_reason, quit_status
        from tb_quit as t1 join tb_employee as t2
        on t1.employee_id = t2.id
        <where>
            <if test="employeeId != null">
                and quit_status != '同意'
            </if>
            <if test="reason != null and reason !='' ">
                and quit_reason like #{reason}
            </if>
        </where>
        limit #{begin},10;
    </select>
    <select id="quitCount" resultType="java.lang.Integer">
        select count(*)
        from tb_quit
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and quit_status != '同意'
            </if>
            <if test="reason != null and reason !='' ">
                and quit_reason like #{reason}
            </if>
        </where>
        limit #{begin},10;
    </select>
    <insert id="addQuit">
        insert into tb_quit (employee_id, quit_reason, quit_status)
        values (#{employeeId},#{quitReason},#{quitStatus});
    </insert>

    <delete id="deleteQuit">
        delete
        from tb_quit where id in
        <foreach collection="quitId" item="id" open="(" close=")" separator=",">
                #{id}
        </foreach>
    </delete>

    <select id="showTrain" resultMap="employeeScore">
        select employee_id, name,train_name, train_location, start_date,end_date,datediff(end_date,start_date) as train_time,score
        from tb_score as t1 join tb_train as t2
        on  t1.train_id = t2.id
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and score >= 0
            </if>
            <if test="trainName != null and trainName !='' ">
                and train_name like #{trainName}
            </if>
        </where>
        order by score
        limit #{begin},10;
    </select>
    <select id="trainCount" resultType="java.lang.Integer">
        select count(*)
        from tb_score as t1 join tb_train as t2
        on  t1.train_id = t2.id
        <where>
            <if test="employeeId != null">
                and employee_id = #{employeeId}
            </if>
            <if test="employeeId != null">
                and score != 0
            </if>
            <if test="trainName != null and trainName !='' ">
                and train_name like #{trainName}
            </if>
        </where>
    </select>
    <select id="showTrains" resultMap="employeeTrain">
        select id, train_name, train_location, description, start_date, end_date
        from tb_train
        where train_name like #{trainNames}
        limit #{begin},10;
    </select>
    <select id="trainsCount" resultType="java.lang.Integer">
        select count(*)
        from tb_train
        where train_name like #{trainNames}
        limit #{begin},10;
    </select>


    <insert id="addTrain">
        insert into tb_score (employee_id, name, train_id, score)
        values (#{employeeId},#{name},#{trainId},#{score});
    </insert>

    <select id="judgeTrain" resultMap="employeeScore">
        select id, employee_id, name, train_id, score
        from tb_score
        where employee_id = #{employeeId} and train_id = #{trainId};
    </select>
    <select id="showAnnouncement" resultMap="announcement">
        select title, content, writer, create_time
        from tb_announcement
        order by create_time desc
        limit #{begin},#{size};
    </select>
</mapper>